.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 11px auto 20px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 619px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 589px;
  height: 514px;
  margin: 105px -30px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 619px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 0.8;
  text-transform: uppercase;
  margin: 0 -17px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 81px 50px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-1 .u-image-1 {
    width: 426px;
    height: 372px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-1 .u-image-1 {
    width: 312px;
    height: 272px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }
}.u-section-2 {
  background-image: linear-gradient(#2cccc4, #9893df);
}

.u-section-2 .u-sheet-1 {
  min-height: 610px;
}

.u-section-2 .u-shape-1 {
  width: 522px;
  height: 522px;
  margin: 43px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: -425px -45px 0 66px;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 28px 143px 0 66px;
}

.u-section-2 .u-shape-2 {
  width: 115px;
  height: 115px;
  margin: -497px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 798px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -243px;
  }
}.u-section-3 {
  background-image: linear-gradient(#9893df, #494399);
}

.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 46px 20px 0;
}

.u-section-3 .u-gallery-1 {
  height: 668px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  width: 1039px;
  margin: 89px 39px 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  margin: -127px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 605px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -64px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    height: 1043px;
    grid-template-columns: auto auto;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-top: -502px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    height: 2608px;
    grid-template-columns: auto;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-btn-1 {
    margin-top: -2529px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-gallery-1 {
    height: 1642px;
    width: 340px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -1370px;
  }
}